# Visual Studio
.vs/
*.vcxproj.user
*.suo
*.user
*.userosscache
*.sln.ide

# CMake & build
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
build/
bin/
out/
*.obj
*.o

# Ninja
.ninja_deps
.ninja_log

# OS
Thumbs.db
.DS_Store

# Binaries / debug
*.exe
*.dll
*.pdb
*.lib

# IDE indexing / caches
*.ipch
*.VC.db
*.sqlite
